/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#comments {
  margin-bottom: 25px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  background: #F1F1F1;
}

.comment {
  padding: 9px;
  border-bottom: 1px solid #666; 
}

#comment_author {
  font-weight:bold;
  padding:9px 0 0 45px;
}

#comment_created_at {
  padding:0 0 9px 45px;
  color:#666;
  font-size:11px;
}

#comment_text {
padding: 0 0 0 45px;
}

.article_body{
  margin-bottom:1.5em;
}

#article-content{
  padding:0 1.5em 0 1.5em;
}

#article-content h1{
  font-size:3em;
line-height:1;
margin-bottom:0;
padding-left: 0;
}
/* Article Index Page */
.article_index {
  padding:0 1.5em 0 1.5em;
  margin-bottom:1.5em;
}
.article_body{
  margin-bottom:1.5em;
}
.article_index h2 {
  font-size:2em;
  margin-bottom: 0;
 
}
.article_header {
  margin-bottom: 15px;  
}